<section id="events"></section>
<div id="veil"></div>
<section id="feed" class="col0 controlCol"><ul></ul></section>
<div class="controlCol cols1to3">
	<div class="row0 controlRow">
		<section id="actions" class="actions col1 controlCol"></section>

		<section id="jobs" class="col2 controlCol"><ul></ul></section>


		<section class="col3 controlCol"><ul id="resources"></ul></section>
	</div>

	<div class="row1 controlRow">
		<div class="controlCol col1">
			<section id="builderActions"  class="actions"><ul></ul></section>
			<section id="upgradeActions"  class="actions"><ul></ul></section>
		</div>

		<section id="buildings" class="controlCol col2"><ul></ul></section>
		<section id="upgrades" class="controlCol col3"><ul></ul></section>
	</div>
</div>
<section id="village" class="controlCol col3">
	<section id="villageStats"></section>
	<section id="culture"><ul></ul></section>
</section>
<button id="reset">Reset</button>